<ng-content-layout-card>
  <h1 class="title">Xin chào babe</h1>
  <input class="input" type="text" value="Hehehe" placeholder="xin chao cac chu nha"/>
  <button class="btn">CLICK ME NHA</button>
</ng-content-layout-card>
<ng-content-layout-card>
  <h1 class="title">Xin chào babe</h1>
  <input class="input" type="text" value="Hehehe" placeholder="xin chao cac chu nha"/>
  <button class="btn">CLICK ME NHA</button>
</ng-content-layout-card>
<ng-content-layout-card>
  <h1 class="title">Xin chào babe</h1>
  <input class="input" type="text" value="Hehehe" placeholder="xin chao cac chu nha"/>
  <button class="btn">CLICK ME NHA</button>
</ng-content-layout-card>
